@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.main {
    background-image: url("images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 134px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

.separation {
    height: 7px;
    background-color: rgb(97, 95, 95);
}

.btn {
    padding: 3px 8px;
    background-color: rgba(242, 233, 233, 0.009);
    color: white;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid white;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.btn-red {
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 20px;
    padding: 3px 24px;
    font-weight: 900;
}

.btn-red-sm {
    background-color: red;
    color: white;

}

.main input {
    border-radius: 4px;
    font-size: 12px;
    padding: 7px 101px 8px 14px;
    background-color: rgba(23, 23, 23, 0.7);
    border: rgba(235, 227, 227, 0.5);
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 34px 0;
}


.secimage {
    position: relative;
}

.secimage img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secimage video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

.firsttext1 {
    font-size: 48px;
    font-weight: bolder;
}

.firsttext2 {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    color: white;
    background-color: black;
    padding: 34px;

}

.faqbox svg {
    filter: invert(1);
}

.faqbox:hover {
    transition: all 0.5s ease-out;
    background-color: rgb(78, 77, 77);
}

.faqbox {
    color: white;
    padding: 24px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    margin: 14px auto;
    width: 60vw;
    cursor: pointer;
}

footer {
    color: #ffffff;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions {
    padding: 34px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

@media screen and (max-width:1300px) {

    nav{
        max-width: 90vw;
    }
    
    .first {
        flex-wrap: wrap;
    }

    .secimage img {
        width: 401px;
    }

    .secimage video {
        width: 401px;
    }


    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .firsttext1 {
        font-size: 32px;
    }

    .firsttext2 {
        font-size: 18px;
    }

    .hero-buttons {
    flex-direction: column;
    }

    .faqbox {
    font-size: 14px;
    }

    .faq h2 {
    font-size: 32px;
    }

    footer{
        max-width: 90vw;
        padding: 0px 0px 30px 0px;
    }

    .footer-item{
        align-items: center;
    }
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
    }
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    gap: 23px;
    flex-direction: column;
}

.lastlogin-text> :nth-child(1) {
    font-size: 20px;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 34px;
}

.lastlogin {
    padding: 34px;
}

.lastlogin input {
    border-radius: 4px;
    font-size: 12px;
    padding: 7px 101px 8px 14px;
    background-color: rgba(23, 23, 23, 0.7);
    border: rgba(235, 227, 227, 0.5);
    color: white;
}
